{% block body %}
    <footer id="footer" class="footer">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="{{ path('app_home') }}" class="logo d-flex align-items-center">
                        <span class="sitename">Дипломка</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p class="mt-3"><strong>Телефон:</strong> <span>+38 099 106 6570</span></p>
                        <p><strong>Ел. Пошта:</strong> <span>diplomka.com.ua@gmail.com</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-telegram"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Посилання</h4>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Головна</a></li>
                        <li><a href="{{ path('app_prices') }}">Цiни</a></li>
                        <li><a href="{{ path('app_reviews') }}">Вiдгуки</a></li>
                        <li><a href="{{ path('app_contacts') }}">Контакти</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Послуги</h4>
                    <ul>
                        <li><a href="{{ path('app_prices') }}">Курсова робота</a></li>
                        <li><a href="{{ path('app_prices') }}">Бакалаврська робота</a></li>
                        <li><a href="{{ path('app_prices') }}">Магiстерська робота</a></li>
                        <li><a href="{{ path('app_prices') }}">Реферат</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4></h4>
                    <ul>
                        <li><a href="{{ path('app_prices') }}">Звіт з практики</a></li>
                        <li><a href="{{ path('app_prices') }}">Індивідуальна робота</a></li>
                        <li><a href="{{ path('app_prices') }}">Тези</a></li>
                        <li><a href="{{ path('app_prices') }}">Презентація</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">diplomka.com.ua</strong> <span>| Київ 2020-2025</span></p>
            <p>All Rights Reserved</p>
        </div>

    </footer>
{% endblock %}
